<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Components/CSS/Custom.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary wrapper">
                <div class="panel-heading">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="col-md-4">
                            <a href="@Url.Action("Index", "Chat")" class="btn btn-success">To chat</a>
                        </div>
                    }
                    <div class="text-right">
                        @if (Request.IsAuthenticated)
                        {
                            <span>User:&nbsp</span><strong>@Html.Encode(User.Identity.Name)</strong>
                            <a href="@Url.Action("Logout","Account")" class="btn btn-danger">Log Out</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Register","Account")" class="btn btn-info">Register</a>
                            <span>&nbsp;</span>
                            <a href="@Url.Action("Login","Account")" class="btn btn-success">Log In</a>
                        }
                    </div>
                </div>

                <div class="panel-body content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
