@model SimpleChat.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registeration Failed", new { @class = "alert alert-danger" });
    <div class="panel panel-default">

        <div class="panel-heading">
            Register Form
        </div>
        <div class="panel-body">
            <form class="form-group">
                <div class="form-inline form-group">
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(x => x.ChatName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.ChatName, new { @type = "text", @class = "form-control", @placeholder = "Login" })
                            <span class="text-danger">&nbsp;@Html.ValidationMessageFor(x => x.ChatName)</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline form-group">
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(x => x.Password)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(x => x.Password, new { @type = "password", @class = "form-control", @placeholder = "Password" })
                            <span class="text-danger">&nbsp;@Html.ValidationMessageFor(x => x.Password)</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline form-group">
                    <div class="form-group">
                        <div class="editor-label">@Html.LabelFor(x => x.FullName)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.FullName, new { @type = "text", @class = "form-control", @placeholder = "Full Name" })
                            <span class="text-danger">&nbsp;@Html.ValidationMessageFor(x => x.FullName)</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline form-group">
                    <div class="form-group">
                        <div class="editor-label">@Html.LabelFor(x => x.Email)</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                            <span class="text-danger">&nbsp;@Html.ValidationMessageFor(x => x.Email)</span>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="Register" />
            </form>
        </div>
    </div>
}